<div class="container-fluid">
    <div class="grid">
      <div class="grid-sizer"></div>
      <p></p>

      <% @pins.each do |pin| %>
        <div class="grid-item">
          <h1><%= link_to pin.title, pin %></h1>

          <% if pin.image.attached? %>
            <p>
              <%= image_tag pin.image.variant(resize: "500x500") %>
            </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

</div>
